.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}
h2 {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
}
body {
    font-family: 'PT Sans', Arial, Tahoma;
    background: url('../images/whitey.png');
    font-size: 12px;
}
.container {
    *zoom: 1;
    width: 906px;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 5px 30px rgba(0,0,0,0.6);
}
.container:before,
.container:after {
    display: table;
    content: "";
}
.container:after {
    clear: both;
}
.thumb {
    color: #eee;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2) inset;
    background: url('../images/black-Linen.png');
    position: relative;
    width: 300px;
    height: 200px;
    float: left;
    overflow: hidden;
    border: 1px solid #eee;
}
.thumb .wrapper {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.thumb .wrapper img {
    width: 300px;
    height: 200px;
}
.thumb .content {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;
}

/***SETTINGS BUTTON***/
.container-settings {
    margin: 10px auto;
    width: 906px;
    height: 15px;
    position: relative;
}
.settings {    
    box-shadow: 0 5px 20px 8px rgba(255,255,255,1);
    -moz-box-shadow: 0 5px 20px 8px rgba(255,255,255,1);
    -webkit-box-shadow: 0 5px 20px 8px rgba(255,255,255,1);
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: -70px;
    width: 30px;
    height: 30px;
}
.settings:active {
    width: 20px;
    height: 20px;
    top: 15px;
    right: -65px;
}
.settings img {
    margin-top: -5px;
    margin-left: -5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.settings img:active {
    margin-top: -10px;
    margin-left: -10px;
    width: 38px;
    height: 38px;
}
/***SETTINGS BUTTON***/

/***AJAX-LOADER***/
.hide-layout {
    background: #000; /* фон */
    bottom: 0;  /* координата снизу */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
    height: 100%; /* высота на всю страницу */
    width: 100%; /* ширина на всю страницу */
    opacity: 0.5;  /* прозрачность слоя */
    position: fixed; /* фиксируем элемент на странице*/
    top: 0; /* координата сверху */
    z-index: 998; /* z-index для перекрытия остальных элементов */
    display: none;
}
.show-state {
    background: url('../images/whitey.png') -5px -5px;
    border: 5px solid rgba(197, 192, 192, .7);
    border-radius: 10px;
    height: 198px;
    position: fixed;
    width: 345px;
    z-index: 999;
    display: none;
}
.show-state .img {
    background: url("../images/500.gif") no-repeat 50% 50%;
    margin: 22px auto;
    height: 64px;
    width: 64px;
    border-radius: 50px;
    border: 1px solid rgba(197, 192, 192,.7);
    box-shadow: 0 2px 10px  rgba(0,0,0,.4);
}
.label-text {
    background-color: #333;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 15px;
    overflow: auto;
    max-height: 45px;
}
.other-error {
    margin-top: 5px;
    margin-left: 5px;
    display: block;
}
.other-error:link, .other-error:visited {
    color: #00a2e2;
}
.other-error:active {
    color: #64c8ef;
}
.failed {
    color: red;
    font-weight: 600;
}
.error-list {
    margin-top: -65px;
    margin-left: -50px;
    background: url('../images/whitey.png') -5px -5px;
    border: 5px solid rgba(197, 192, 192, .7);
    border-radius: 10px;
    padding: 20px 50px 50px 50px;
    height: 330px;
    width: 500px;
    position: fixed;
    z-index: 1000;
    display: none;
}
.close-dialog {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 7px;
}
.close-dialog:after {
    content: '✖'; /* UTF-8 symbol */
}
.error-list > label {
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
#messages {
    width: 500px;
    height: 300px;
    min-width: 500px;
    min-height: 300px;
    max-width: 500px;
    max-height: 300px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 10px  rgba(0,0,0,.4);
    outline: none;
    padding: 5px;
    background-color: #eeeeee;
}


/***BUTTON***/
.button-state {
    clear: both;
    position: absolute;
    bottom: -20px;
    left: 26%;
    background: linear-gradient(to bottom,#515459 0%,#3B3C40 100%);
    padding: 1px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.button-state span {
    background: linear-gradient(to bottom,#515459 0%,#3B3C40 100%);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px 1px #393B3E;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset;
}
.button-state:hover {
    background: linear-gradient(to bottom,#3B3C40 0%,#202124 100%);
    /*background: linear-gradient(to bottom,#37aff4 0%,#2764ca 100%);*/
}
.button-state:hover span {
    background: linear-gradient(to bottom,#3B3C40 0%,#202124 100%);
}
.button-state:active {
    background: linear-gradient(to bottom,#202124 0%,#3B3C40 100%);
    /*box-shadow: 0 1px 1px #FFF;*/
}
.button-state:active span {
    background: linear-gradient(to bottom,#3B3C40 0%,#515459 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
}
/***BUTTON***/
/***AJAX-LOADER***/

