.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}
h2 {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
}
body {
    font-family: 'PT Sans', sans-serif, Arial, Tahoma;
    background: url('../images/whitey.png');
    font-size: 12px;
    -webkit-font-smoothing: antialiased; /* Сгладим шрифт*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.container {
    *zoom: 1;
    width: 902px;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 5px 30px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 5px 30px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.6);
}
.container:before,
.container:after {
    display: table;
    content: "";
}
.container:after {
    clear: both;
}
.thumb {
    color: #eee;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2) inset;
    background: url('../images/black-Linen.png');
    position: relative;
    width: 300px;
    height: 200px;
    float: left;
    overflow: hidden;
    border: 1px solid #eee;
}
.thumb .wrapper {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.thumb .wrapper img {
    width: 300px;
    height: 200px;
}
.thumb .content {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;
}
/***FOOTER***/
.footer2 {
    clear: both;
    position: relative;
    display: block;
    border-top: 1px solid #ccc;
    padding: 15px 20px 0 20px;
    margin: 30px auto 0;
    height: 45px;
    bottom: 0;
    width: 902px;
    text-align: center;
    font-size: 14px;
}
.footer2 span {
    vertical-align: 4px;
    color: #777;
    text-shadow: 1px 1px 1px white;
}
.footer2 img {
    width: 110px;
    vertical-align: baseline;
}

.footer2 .show-log {
    bottom: 0;
    font-size: 12px;
    color: #00a2e2;
    cursor: pointer;
}

/***SETTINGS BUTTON***/
.container-settings {
    margin: 15px auto;
    width: 902px;
    position: relative;
    text-align: center;
}
.container-settings h1 {
    text-shadow:
            1px 1px 1px #fffbe8,
            1px 1px 2px #454544;
    color: #454544;
    cursor: default;
    margin-top: 0;
    font-weight: 900;
    font-size: 2em;
}
.settings {
    display: none;
    box-shadow: 0 5px 20px 8px rgba(255,255,255,1);
    -moz-box-shadow: 0 5px 20px 8px rgba(255,255,255,1);
    -webkit-box-shadow: 0 5px 20px 8px rgba(255,255,255,1);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    position: absolute;
    top: 10px;
    right: -70px;
    width: 30px;
    height: 30px;
}
.settings:active {
    width: 20px;
    height: 20px;
    top: 15px;
    right: -65px;
}
.settings img {
    margin-top: -5px;
    margin-left: -5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.settings img:active {
    margin-top: -10px;
    margin-left: -10px;
    width: 38px;
    height: 38px;
}
/***SETTINGS BUTTON***/

/***AJAX-LOADER***/
.hide-layout {
    background: #000; /* фон */
    bottom: 0;  /* координата снизу */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
    height: 100%; /* высота на всю страницу */
    width: 100%; /* ширина на всю страницу */
    opacity: 0.5;  /* прозрачность слоя */
    position: fixed; /* фиксируем элемент на странице*/
    top: 0; /* координата сверху */
    z-index: 998; /* z-index для перекрытия остальных элементов */
    display: none;
}
.show-state {
    background: url('../images/whitey.png') -5px -5px;
    border: 5px solid rgba(197, 192, 192, .7);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 198px;
    position: fixed;
    width: 345px;
    z-index: 999;
    display: none;
}
.show-state .img {
    background: url("../images/500.gif") no-repeat 50% 50%;
    margin: 17px auto;
    height: 64px;
    width: 64px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid rgba(197, 192, 192,.7);
    box-shadow: 0 2px 10px  rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 10px  rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 10px  rgba(0,0,0,.4);
}
.label-text {
    background-color: #333;
    margin: 0 auto 7px;
    color: #fff;
    font-size: 15px;
    overflow: auto;
    height: 45px;
    max-height: 45px;
    text-overflow: ellipsis; /* Добавляем многоточие */
    table-layout: fixed;
}
.label-text > span {
    display: table-cell;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    max-height: 45px;
    width: 345px;
    cursor: default;
}
.other-error {
    margin-left: 5px;
}
.other-error:link, .other-error:visited {
    color: #00a2e2;
}
.other-error:active {
    color: #64c8ef;
}
.failed {
    color: red;
    font-weight: 600;
}
.error-list {
    margin-top: -65px;
    margin-left: -50px;
    background: url('../images/whitey.png') -5px -5px;
    border: 5px solid rgba(197, 192, 192, .7);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 50px 50px 50px;
    height: 350px;
    width: 500px;
    position: fixed;
    z-index: 1000;
    display: none;
}
.close-dialog {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 7px;
}
.close-dialog:after {
    content: '✖'; /* UTF-8 symbol */
}
.error-list > label {
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
#messages {
    color: #333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 90%;
    resize: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 10px rgba(0,0,0,.4) inset;
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.4) inset;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.4) inset;
    outline: none;
    padding: 10px;
    background-color: #eeeeee;
}
#view-modal-window {
    display: none;
}
#dont-work-window {
    display: none;
}
#dont-work-text {
    padding-right: 35px;
    padding-left: 35px;
}
.modal-window {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../images/whitey.png') -5px -5px;
    border: 5px solid rgba(197, 192, 192, .7);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 198px;
    position: fixed;
    width: 400px;
    z-index: 1002;
    max-width: 100%;
    max-height: 100%;
}
.modal-text {
    position: absolute;
    /*overflow: auto;*/
    /*top: 0;*/
    left: 0;
    /*width: 82%;*/
    /*max-width: 82%;*/
    /*max-height: 50%;*/
    /*padding: 15px 50px 15px 20px;*/
    width: 100%;
    padding: 15px 0px 15px 0px;
    text-align: center;
    vertical-align: middle;
    background-color: #333;
    color: #fff;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    box-sizing: content-box;
}
#house-select {
    display: none;
    font-size: 15px;
    color: black;
    background-color: white;
    width: 100%;
    margin-left: 20px;
}
/***BUTTON***/
.button-state, #dont-work-button {
    left: 26%;
}
#button-yes {
    right: 15%;
}
#button-no {
    left: 15%;
}
.button {
    clear: both;
    position: absolute;
    bottom: -20px;
    /*left: 26%;*/
    background: linear-gradient(to bottom,#515459 0%,#3B3C40 100%);
    padding: 1px;
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.button span {
    background: linear-gradient(to bottom,#515459 0%,#3B3C40 100%);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px 1px #393B3E;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset;
    -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset;
}
.button:hover {
    background: linear-gradient(to bottom,#3B3C40 0%,#202124 100%);
    /*background: linear-gradient(to bottom,#37aff4 0%,#2764ca 100%);*/
}
.button:hover span {
    background: linear-gradient(to bottom,#3B3C40 0%,#202124 100%);
}
.button:active {
    background: linear-gradient(to bottom,#202124 0%,#3B3C40 100%);
}
.button-state:active span {
    background: linear-gradient(to bottom,#3B3C40 0%,#515459 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
}
/***BUTTON***/
/***AJAX-LOADER***/

.dropdown-menu {
    height:400px;
    width: 100%;
    overflow-y: auto;
}